#img-gallery-viewer {
  margin: 0 auto;
  background-color: yellow; }

#img-gallery-thumbs {
  margin: 0 auto;
  overflow-y: hidden;
  overflow-x: scroll; }
  #img-gallery-thumbs .overflow-container {
    position: relative; }
    #img-gallery-thumbs .overflow-container .image-container {
      position: relative;
      float: left;
      margin-left: 4px;
      margin-right: 4px;
      border-left: 1px solid black;
      border-right: 1px solid black; }
    #img-gallery-thumbs .overflow-container .image-container:hover {
      margin-left: 3px;
      margin-right: 3px;
      border-left: 2px solid blue;
      border-right: 2px solid blue; }

#img-gallery-folders {
  margin: 0 auto;
  overflow: auto;
  display: table;
  border: 1px solid black; }
  #img-gallery-folders .folder-container {
    float: left;
    margin: 4px;
    border: 1px solid black; }
    #img-gallery-folders .folder-container .title {
      font-size: 20px;
      overflow: hidden;
      text-align: center;
      background-color: lightgrey; }
    #img-gallery-folders .folder-container .image-container {
      position: relative; }
  #img-gallery-folders .folder-container:hover {
    margin: 3px;
    border: 2px solid blue; }

.ig-img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto; }
