.ig-img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto; }

#img-gallery-viewer {
  margin: 0 auto;
  position: relative;
  background-color: lightgray;
  /* Prevent selection */
  -webkit-user-select: none;
  /* webkit (safari, chrome) browsers */
  -moz-user-select: none;
  /* mozilla browsers */
  -khtml-user-select: none;
  /* webkit (konqueror) browsers */
  -ms-user-select: none;
  /* IE10+ */ }

#img-gallery-thumbs {
  margin: 0 auto;
  overflow-y: hidden;
  overflow-x: scroll; }
  #img-gallery-thumbs .overflow-container {
    position: relative;
    background-color: lightgrey; }
    #img-gallery-thumbs .overflow-container .image-container {
      position: relative;
      float: left;
      margin-left: 5px;
      margin-right: 5px; }
    #img-gallery-thumbs .overflow-container .image-container:not(.selected):hover {
      margin-left: 3px;
      margin-right: 3px;
      border-left: 2px solid black;
      border-right: 2px solid black; }
    #img-gallery-thumbs .overflow-container .selected {
      margin-left: 2px;
      margin-right: 2px;
      border-left: 3px solid cornflowerblue;
      border-right: 3px solid cornflowerblue; }

#img-gallery-folders {
  margin: 0 auto;
  overflow: auto;
  display: table; }
  #img-gallery-folders .folder-container {
    float: left;
    margin: 5px;
    background-color: lightgrey; }
    #img-gallery-folders .folder-container .title {
      font-size: 20px;
      overflow: hidden;
      text-align: center; }
    #img-gallery-folders .folder-container .image-container {
      position: relative; }
  #img-gallery-folders .folder-container:not(.selected):hover {
    margin: 3px;
    border: 2px solid black; }
  #img-gallery-folders .selected {
    margin: 2px;
    border: 3px solid cornflowerblue; }

#img-gallery-viewer {
  width: 100%;
  height: 100%; }

#img-gallery-thumbs {
  width: 100%;
  height: 100%; }

#img-gallery-folders {
  width: 100%;
  height: 100%; }
