#img-gallery-folders{
    margin: 0 auto;
    overflow: auto;
    display: table;
    
    .folder-container{
        float: left;
        margin: 5px;
        background-color: lightgrey;
        
        .title{
            font-size: 20px;
            overflow: hidden;
            text-align: center;
        }
        
        .image-container{
            position: relative;
        }
    }
    
    .folder-container:not(.selected):hover{
        margin: 3px;
        border: 2px solid black;
    }
    
    .selected{
        margin: 2px;
        border: 3px solid cornflowerblue;
    }
}