#img-gallery-thumbs{
    margin: 0 auto;
    overflow-y: hidden;
    overflow-x: scroll;
    
    .overflow-container{
        position: relative;
        background-color: lightgrey;
        
        .image-container{
            position: relative;
            float: left;
            margin-left: 5px;
            margin-right: 5px;
        }
        
        .image-container:not(.selected):hover{
            margin-left: 3px;
            margin-right: 3px;
            border-left: 2px solid black;
            border-right: 2px solid black;
        }
        
        .selected{
            margin-left: 2px;
            margin-right: 2px;
            border-left: 3px solid cornflowerblue;
            border-right: 3px solid cornflowerblue;
        }
    }
}