#img-gallery-viewer{
    margin: 0 auto;
    position: relative;
    background-color: lightgray;
    /* Prevent selection */
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}