*, *::before, *::after{
    box-sizing: border-box;
}
.ig-img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#ig-container{
    margin: 0 auto;
    width: 100%;
    overflow: auto;
    
    display: table;
    
    .folder-container{
        float: left;
        background-color: lightgrey;
        
        .title{
            width: 100%;
            height: 40px;
            float: left;

            line-height: 40px;
            font-size: 20px;
            overflow: hidden;
            text-align: center;
        }
        
        .image-container{
            position: relative;
            float: left;
            width: 100%;

            .pusher{
                margin-top: 100%;
            }
        }
    }
    
    .folder-container:not(.selected):hover{
        border: 2px solid black;
    }
    
    .selected{
        border: 3px solid cornflowerblue;
    }
}

#ig-thumbnail-container{
    display: none;

    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 20vh;
    overflow-y: hidden;
    overflow-x: scroll;
    z-index: 1000;
    
    .overflow-container{
        position: relative;
        background-color: lightgrey;
        
        .image-container{
            position: relative;
            float: left;
            margin: 0 5px;
        }
        
        .image-container:not(.selected):hover{
            margin-left: 3px;
            margin-right: 3px;
            border-left: 2px solid black;
            border-right: 2px solid black;
        }
        
        .selected{
            margin-left: 2px;
            margin-right: 2px;
            border-left: 3px solid cornflowerblue;
            border-right: 3px solid cornflowerblue;
        }
    }
}

#ig-close{
    display: none;

    position: fixed;
    top: 10px;
    right: 20px;
    font-size: 40px;
    color: white;
    padding: 0 10px;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    cursor: pointer;
    z-index: 1001;
}
#ig-viewer{
    display: none;

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 80vh;
    background-color: rgba( 50, 50, 50, 0.8 );

    z-index: 1000;
}