@import 'base';
@import 'viewer';
@import 'thumbnails';
@import 'folders';

.no-scroll{
    overflow: hidden;
}

#img-gallery-viewer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    display: none;
    background-color: rgba( 50, 50, 50, 0.8 );
    z-index: 9999;
}

#img-gallery-close{
    position: absolute;
    top: 10px;
    right: 20px;
    display: none;
    font-size: 40px;
    color: white;
    cursor: zoom-out;
    z-index: 10000;
}

#img-gallery-thumbs{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    display: none;
    z-index: 9999;
}

#img-gallery-folders{
    width: 100%;
    height: 100%;
}